#ui-datepicker-div {
  background-color: white;
  width: 300px;
}
#datepicker:hover {
  cursor: pointer;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0;
}

.ui-datepicker {
  display: none;
  width: 100%;
  padding: 35px;
  cursor: default;
  text-transform: uppercase;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px black;
}

.ui-datepicker-header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-month {
  position: relative;
  padding-right: 15px;
  color: black;
}

.ui-datepicker-year {
  padding-left: 8px;
  color: black;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  position: absolute;
  top: -2px;
  padding: 5px;
  cursor: pointer;
}

.ui-icon {
  background-color: #000;
  border: #000 1px solid;
  border-radius: 50%;
}
.ui-datepicker-prev {
  left: 0;
  padding-left: 0;
}

.ui-datepicker-next {
  right: 0;
  padding-right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
  display: block;
  width: 5px;
  height: 10px;
  text-indent: -9999px;
}

.ui-datepicker-prev span {
  background-position: 0px 0px;
}

.ui-datepicker-next span {
  background-position: -5px 0px;
}

.ui-datepicker-prev-hover span {
  background-position: 0px -10px;
}

.ui-datepicker-next-hover span {
  background-position: -5px -10px;
}

.ui-datepicker-calendar th {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: #a8a8a8;
}

.ui-datepicker-calendar td {
  padding: 0 7px;
  text-align: center;
  line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default:hover {
  border: 1px solid black;
  border-radius: 20%;
  background-color: #000;
  color: white;
}
.ui-datepicker-calendar .ui-state-default {
  display: block;
  width: 26px;
  outline: none;
  text-decoration: none;
  color: #000;
  border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
  color: rgb(53, 243, 53);
  border: 1px solid rgb(53, 243, 53);
  border-radius: 20%;
}

.ui-datepicker-unselectable.ui-state-disabled.closed .ui-state-default {
  color: gray !important;
}

.ui-datepicker-unselectable.ui-state-disabled.closed .ui-state-default:hover {
  background-color: white;
  color: red;
  border: none;
}

.ui-datepicker-other-month .ui-state-default {
  color: #ccc;
}

.ui-datepicker table {
  margin: 0 auto;
}

.woocommerce-table.woocommerce-table--order-details.shop_table.order_details
  > tfoot
  > tr:first-child {
  display: none;
}

#click_and_collect_time:only-child {
  background-color: white;
  padding: 0.9rem 1.1rem;
  border: solid 1px black;
  font-size: medium;
}
